{{#each this}}
<h2 class="countries-name">{{name}}</h2>
<li class="countries-list__item">
    <div class="countries-list__info">
        <p>Capital: {{capital}}</p>
        <p>Population: {{population}}</p>
        <ul class="countries-list__languages">Languages:
            {{#each languages}}
            <li>{{this.name}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="countries-list__img">
        <img src={{flag}} alt="" width="360">
    </div>
</li>
{{/each}}